@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* import font */

* {
  box-sizing: border-box
    /* padding & border are in width & height */

}

body {
  background:linear-gradient(90deg,#12c2e9, #c471ed, #f64f59);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  /* it will center allign the items */
  align-items: center;
  /* it will also center allign the elements */
  justify-content: center;
  /* it will center allign, otherwise it will be in left side */
  height: 100vh;
  /* what will be the height */
  margin: 0;


}


.container {
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 40px;
  /* the curve in the corners */
  padding: 100px 20px;
  /* what will be the size of the white box */
  max-width: 100%;
  width: 900px;
  text-align: center;
  border-color: red rgba(170, 50, 220, .6) green;
  
  box-shadow: 10px 10px 20px rgba(251, 12, 12, 0.1), 0 6px 6px rgba(0, 0, 0, 0, 0.1);
}


h3   {
  margin: 250;
  letter-spacing: 10px;
  opacity: 5;

}

/* .joke 

    font-size: 30px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;

    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

  font-size: 30px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
} */

.btn {
  background-color: #9f68e0;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  /* cursor will change */
  font-size: 16px;
  padding: 20px 80px;
  box-shadow: 1.2px 5px 5px rgb(9, 9, 9);
  margin-top: 50px;
 
}
.btn:hover
{
  background-color: #a3d279;
  font-weight: bold;
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0, 0.1);
}
.btn:active {
  transform: scale(0.98);
  /* it will shrink while we click the button */
}

.btn:focus {
  outline: 0;
}


.toggle {
  width: 4rem;
  height: 4rem;
  background-color: #b9ec91;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: rgba(135, 240, 87, 0.89) 0px 25px 50px -12px;
  cursor: pointer;
}

.toggle i {
  font-size: 2rem;
  color: #777;
}
.toggle i:hover {
  font-size: 2.1rem;
  color: rgb(41, 40, 40);
}

/* Dark mode styling*/
body.dark {
  background-color: #262626;
  color: #ffffff;
}

body.dark .container {
  background-color: rgb(21, 29, 29);
  box-shadow: 0 10px 20px rgba(231, 228, 228, 0.925), 0 6px 6px rgba(0, 0, 0, 0, 0.1);

}

body.dark .toggle {
  background-color: #323232;
  box-shadow: rgba(33, 34, 33, 0.89) 0px 25px 50px -12px;
}

body.dark .toggle i {
  color: #ffffff;
}

body.dark.toggle i:hover {
  font-size: 2.1rem;
  color: rgb(41, 40, 40);
}

body.dark .btn {
  background-color: rgb(75, 70, 70);
  box-shadow: 0 5px 15px rgba(255, 253, 253, 0.774), 0 6px 6px rgba(0, 0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
}

body.dark .btn:hover
{
  background-color: #a3d279;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0, 0.1);
}

body.dark .lds-ring div {
  border-color: #fff transparent transparent transparent;
}


/* Loading Spinner */
.lds-ring {
  visibility: hidden;
  width: 40px;
  height: 40px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #262626 transparent transparent transparent;

}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
